body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;

}

#font-color {

    color: brown;
}

.flex-container {

    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {

    width: 70%;
    height: 65%;
    padding-left: 10%;

    margin-top: 8%;

}

.Button-style {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 7px;
    color: white;
    font-weight: 600;
    border: 3px solid rgb(206, 235, 223) seashell;


}

#top-banner {

    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

#dream-bg {

    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.box-shadow {

    box-shadow: 10px 10px 40px rgb(199, 192, 192);

    width: 40%;
    padding-left: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
    border-left: 5px solid green;

}

.experience-area {

    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 200px;
}

#box-radius {
    border-image: linear-gradient(orange, red);
    border-left: 7px solid;
    border-image-slice: 1;
}

#box-radius2 {

    border-image: linear-gradient(rgb(77, 31, 240), rgb(93, 206, 123));
    border-radius: 7px solid;
    border-image-slice: 1;

}

.footer {
    text-align: center;
    margin-top: 80px;
}